<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <%= simple_form_for @collection do |f| %>
      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          First name
        </label>
        <%= f.input :firstname, maxlength: 40, minlength: 2, label: false, required: true, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
          Last name
        </label>
        <%= f.input :lastname, required: true, html5: true, label: false, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
          Nickname
        </label>
        <%= f.input :nickname, maxlength: 40, minlength: 2, label: false, pattern: '[a-zA-Z0-9\-_.]+', required: true, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <label for="message" class="mb-3 block text-base font-medium text-[#07074D]">
         Age
        </label>
        <%= f.input :age, required: true, label: false, html5: true, class: "w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div>
          <%= f.button :submit, "Save", class: "hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none" %>
      </div>
    <% end %>
  </div>
</div>
