<div class="flex mx-auto items-center min-h-screen bg-white dark:bg-white-900">
  <div class="container mx-auto">
    <div class="max-w-md mx-auto my-10">
      <div class="text-center">
        <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-black-200">Вход</h1>
        <p class="text-gray-500 dark:text-gray-400">Регистрация</p>
      </div>
      <div class="m-7 mr-2">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="mb-6">
            <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Email</label>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        input_html: { autocomplete: "email" },
                        class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500"%>
          </div>
          <div class="mb-6">
            <div class="flex justify-between mb-2">
              <label for="password" class="text-sm text-gray-600 dark:text-gray-400">Пароль</label>
            </div>
            <%= f.input :password,
                        required: true,
                        label: false,
                        input_html: { autocomplete: "new-password" },
            class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" %>
            <p class="text-gray-500 text-sm">
              <%= "#{@minimum_password_length} characters minimum" if @minimum_password_length %>
            </p>
          </div>
          <div class="mb-6">
            <div class="flex justify-between mb-2">
              <label for="password" class="text-sm text-gray-600 dark:text-gray-400">Подтверждение пароля</label>
            </div>
            <%= f.input :password_confirmation,
                        required: true,
                        label: false,
                        input_html: { autocomplete: "new-password" },
                        class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" %>
          </div>
          <div class="mb-6">
            <%= f.button :submit, "Зарегистрироваться", class:"w-full px-2 py-3 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none" %>
          </div>
          <p class="text-sm text-center text-gray-400">Уже есть аккаунт?
            <a>
              <%= link_to "Войти", new_session_path(resource_name), class: "text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800"  %>
            </a>.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
