<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-full max-w-[550px]">
    <%= simple_form_for @collection do |f| %>
      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
          Title
        </label>
        <%= f.input :title, label: false, required: true, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
          Genre
        </label>
        <%= f.input :genre, required: true, html5: true, label: false, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-[#07074D]">
         Description
        </label>
        <%= f.input :description,  label: false, pattern: '[0-9]+', required: true, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <label for="message" class="mb-3 block text-base font-medium text-[#07074D]">
          Year of publishing
        </label>
        <%= f.input :year_of_publishing, required: true, label: false, html5: true, class: "w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>
      <div class="mb-5">
        <label for="message" class="mb-3 block text-base font-medium text-[#07074D]">
          Year of publishing
        </label>
        <%= f.collection_select :author_id, Author.all, :id, :lastname, prompt: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div>
        <%= f.button :submit, "Save", class: "hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none" %>
        <%= button_to "Delete", book_path(@collection), method: :delete, local: true, class: "hover:shadow-form rounded-md bg-[#DC143C] py-3 px-8 text-base font-semibold text-white outline-none"  %>
      </div>
    <% end %>
  </div>
</div>
