<div>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;1,400&amp;display=swap'><link rel="stylesheet" href="./style.css">

  </head>
  <body class="antialiased">
  <div class="py-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
      <div class="flex flex-col md:flex-row -mx-4">
        <div class="px-4">
            <div class="w-64 rounded-lg bg-gray-100 mb-4">
              <% if @object.image.present? %>
                <%= image_tag @object.image_url, class: "h-full w-full object-cover object-center lg:h-full lg:w-full" %>
              <% else %>
                <img src="https://m.media-amazon.com/images/I/61ibOuXLwcL._AC_UF1000,1000_QL80_.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
              <% end %>
            </div>
        </div>
        <div class="md:flex-1 px-4">
          <h2 class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl"><%= @object.title %></h2>
          <p class="text-gray-500 text-sm">Автор <a href="#" class="text-indigo-600 hover:underline"><%= @object.author.firstname %></a></p>

          <div class="flex items-center space-x-4 my-4">
            <%= @object.genre %>
            <%= @object.year_of_publishing %>
          </div>

          <p class="text-gray-500">
            <% @object.description.split(' ').each do |word| %>
              <% if word.start_with?('#') %>
                <%= link_to word, tags_path(query: word, entity: @object.class) %>
              <% else %>
                <%= word %>
              <% end %>
            <% end %>
          </p>

          <div class="flex py-4 space-x-4">
            <button type="button" class="h-14 px-6 py-2 font-semibold rounded-xl bg-green-500 hover:bg-indigo-500 text-white">
              <%= link_to "Редактировать", edit_book_path(@object) %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews">
    <%= render partial: 'reviews/new'%>
  </div>
  </body>
</div>
