<p class="text-gray-700 font-medium "><b>Комментарии:</b></p>
<div class="flex items-center justify-center p-2">
  <div class="mx-auto w-full p-4">
    <% @collection.each do |comment| %>
      <div class="max-w-2xl mx">
        <div class="flex items-center">
          <div class="relative flex gap-4">
            <% if comment.profile.image.present? %>
              <%= image_tag comment.profile.image_url, class: "w-8 h-8 rounded-full" %>
            <% else %>
              <%= image_tag Avatarro.image(comment.profile.nickname, color: '#fff', start: '#9CA3AF', finish: '#9CA3AF'), class: "w-8 h-8 rounded-full" %>
            <% end %>
            <div class="flex flex-col w-full">
              <div class="flex flex-row justify-between">
                <p class="relative text-xl whitespace-nowrap truncate overflow-hidden">
                  <%= link_to comment.profile.nickname, profile_path(comment.profile), class: 'font-bold hover:text-blue-600' %>
                </p>
                <a class="text-gray-500 text-xl" href="#"><i class="fa-solid fa-trash"></i></a>
              </div>
              <p class="text-gray-400 text-sm"><%= comment.created_at.to_date %></p>
            </div>
          </div>
        </div>
        <p class="mt-2 ml-2">
          <% comment.text.split(' ').each do |word| %>
            <% if word.start_with?('#') %>
              <%= link_to word, tags_path(query: word, entity: comment.class) %>
            <% else %>
              <%= word %>
            <% end %>
          <% end %>
        </p>
        <button type="button" class="h-8 px-4 py-1 font-semibold rounded-xl bg-green-500 hover:bg-green-600 text-white text-center">
          <%= link_to "Редактировать", edit_comment_path(comment) %>
        </button>
        <% if current_user.present? %>
          <%= button_to "Удалить", comment_path(comment), action: "destroy", method: :delete, local: true, class: "h-8 px-4 py-1 font-semibold rounded-xl bg-red-500 hover:bg-red-600 text-white text-center" %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>